* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #506688;
}

.main {
    position: relative;
    height: 80%;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main button{
    padding: 10px 12px;
    margin: 0 10px;
}

.main #logo{
    position: absolute;
    top: 10px;
    left: -80px;
    text-align: center;
    top: -70px;
    font-size: 25px;
    color: #ccc;
    text-transform: capitalize;
    cursor: default;
}
 .main #logo img{
     width: 40px;
 }

.right,.left {
    position: relative;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.right {
    height: 130%;
}
.left p{
    display: inline;
    padding: 5px 5px;
    background: rgba(245,245,245,0.1);
    border-radius: 5px;
}
.left #volume_icon{
    background: rgb(255, 255, 255,.1);
    position: relative;
    top: 25%;
    width: 25px;
    padding: 2px 2px;
    border-radius: 5px;
    cursor: pointer;
}
#volume_icon:hover {
    background: #FF8A65;
}
.left #volume_show{
    cursor: default;
}

.left #track_img {
    height: 300px;
    width: 80%;
    border-radius: 15px;
    box-shadow: 1px 0px 20px 12px rgba(240,240,240,0.2);
}
#volume_icon {
    width: 35px;
    cursor: pointer;
}

input[type="range"]{
    -webkit-appearance: none;
    width: 50%;
    outline: none;
    height: 2px;
    margin: 0px 15px;
    background-color: #FF8A65;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background: orange;
    border-radius: 50%;
    cursor: pointer;
    
}

.right input[type="range"]{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -34%;
    top: 30px;
    width: 150%;
    cursor: pointer;
} 

.left .volume{
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.left .volume p{
    font-size: 15px;
}

.left .volume img{
    cursor: pointer;
    padding: 8px 12px;
    background: #FF8A65;
}
.left .volume img:hover{
    background: rgba(240,240,240,0.1);
}

.volume #volume_show{
    padding: 8px 12px;
    margin: 0 5px 0 0;
    background-color: rgba(240,240,240,0.1);
    cursor: pointer;
}

.right .middle{
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
}

.right .middle button{
    border: none;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
    background: rgba(245,245,245,0.1);
}
.right img{
    width: 20px;
}
#play img{
    width: 25px;
}

#title {
    font-size: 20px;
    text-transform: capitalize;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 25%;
    cursor: default;
    color: white;
}

#artist {
    font-size: 15px;
    text-transform: capitalize;
    position: absolute;
    top: 30%;
    cursor: default;
    color: white;
}

#present {
    font-size: 20px;
    position: absolute;
    top: 0%;
    right: -10%;
    cursor: default;
    color: white;
}

#duration_slider {
    width: 0%;
}

#show_duration{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -7%;
    left: -14vh;
    color: white;
    cursor: pointer;
}

#total_duration {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -4%;
    left: 15vh;
    color: white;
    cursor: pointer;
}
#play {
    background: #FF8A65;
}
.right button:hover{
    background: #FF8A65;
}

.right img:before{
    color: #fff;
}

.extra {
    position: relative;
    display: flex;
    top: 27px;
    left:16vh;
    border-radius: 50%;
    cursor: pointer;
    background: rgb(255, 255, 255,.1);
}

#forward{
    height: 15px;
    width: 15px;
}

.ret{
    left: -100px;
    top: -1vh;
}
#backward{
    height: 15px;
    width: 15px;
}
#repeat{
    height: 15px;
    width: 15px;
}
.ret1{
    position: relative;
    display: flex;
    top: 27px;
    left:16vh;
    border-radius: 50%;
    cursor: pointer;
    background: rgb(255, 255, 255,.1);
    left: -15px

}
#Music{
    position: absolute;
    top: 10px;
    left: -80px;
    text-align: center;
    top: -200px;
    font-size: 300px;
    color: rgba(208, 225, 109, 0.633);
    text-transform: capitalize;
    cursor: default;
    
}
